<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Tracks</string>
		<key>subtitle</key>
		<string></string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Settings</string>
		<key>subtitle</key>
		<string></string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Logout</string>
		<key>subtitle</key>
		<string></string>
		<key>icon</key>
		<string></string>
	</dict>
</array>
</plist>
